<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <title>User Management App - Edit User </title>
  </head>
  <body>
    <style>
      .img-preview{
        height:80px;
        width:80px;
        border-radius: 5px;
      }
    </style>
    <div class="container-fluid">
      <div class="column" style="height:5%;display:flow-root;">
        <ul class="nav pull-left">
          <li class="nav-item">
            <a href="#" class="nav-link">User Management App</a>
          </li>
        </ul>
        <ul class="nav pull-right">
          <li class="nav-item">
            <a href="#" class="nav-link">Login</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Register</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="container" style="min-height:80vh;">
      <div class="row">
        <form method="post" action="/updateuser/<%= userdata._id %>?_method=PUT" enctype="multipart/form-data">
          <div class="form-group">
            <% if(userdata.image != '') {%>
              <img class="img-preview" src="/<%= userdata.image %>">
            <% } %>
            <label for="image">Image</label>
            <input type="file" class="form-control" name="image" id="image">
          </div>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" value="<%= userdata.name %>" id="name" aria-describedby="emailHelp" placeholder="Enter Name">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="email">Email ID</label>
            <input type="email" class="form-control" value="<%= userdata.email %>" name="email" id="email" placeholder="Email ID">
          </div>
          <div class="form-group">
            <label for="contact">Contact No.</label>
            <input type="text" class="form-control" value="<%= userdata.contact %>" id="contact" name="contact" placeholder="Contact No.">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" value="<%= userdata.password %>" placeholder="Password" id="password" name="password">
          </div>
          <div class="form-group">
            <label for="password">Created By</label>
            <select class="form-control" name="createdby">
              <% admindata.forEach(function(admin){ %>
                <option value="<%= admin._id %>" <% if(admin._id == userdata.createdby) { %><%= selected="selected" %><% } %> ><%= admin.name %></option>
              <% }); %>
            </select>
          </div>
          <button type="submit" class="btn btn-success"><i class="fa fa-check"> Update User</i></button>
        </form>

      </div>
    </div>
    <footer>
      <center> &copy User Management App, <%= (new Date()).getFullYear() %></center>
    </footer>
  </body>
</html>
