<%- include('../public/partials/header'); %>

<style>
.img-preview{
  height:100px;
  border-radius: 5px;
}
</style>

<div class="gap" style="height:10vh"></div>
    <div class="container" style="min-height:80vh;">
      <div class="row">
        <form method="post" action="/updateuser/<%= userdata._id %>?_method=PUT" enctype="multipart/form-data">
          <div class="form-group">
            <% if(userdata.image != '') {%>
              <img class="img-preview" src="/<%= userdata.image %>">
            <% } %>
            <label for="image">Image</label>
            <input type="file" class="form-control" name="image" id="image">
          </div>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" value="<%= userdata.name %>" id="name" aria-describedby="emailHelp" placeholder="Enter Name">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="email">Email ID</label>
            <input type="email" class="form-control" value="<%= userdata.email %>" name="email" id="email" placeholder="Email ID">
          </div>
          <div class="form-group">
            <label for="contact">Contact No.</label>
            <input type="text" class="form-control" value="<%= userdata.contact %>" id="contact" name="contact" placeholder="Contact No.">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" value="<%= userdata.password %>" placeholder="Password" id="password" name="password">
          </div>
          <div class="form-group">
            <label for="password">Created By</label>
            <select class="form-control" name="createdby">
              <% admindata.forEach(function(admin){ %>
                <% var adminId = JSON.stringify(admin._id); %>
                <% var userdataCBId = JSON.stringify(userdata.createdby._id); %>
                <option value="<%= admin._id %>" <% if(adminId == userdataCBId) {%> selected="selected" <% } %> ><%= admin.name %></option>
              <% }); %>
            </select>
          </div>
          <button type="submit" class="btn btn-success"><i class="fa fa-check"> Update User</i></button>
        </form>
<!-- admnId.localeCompare(userdataCBId) == 0 -->
      </div>
    </div>
<%- include('../public/partials/footer'); %>
