<%- include('../public/partials/header'); %>
<div class="gap" style="height:10vh"></div>
    <div class="container" style="min-height:80vh;">
      <div class="row">
        <a href="/adduser" class="btn btn-primary"> <i class="fa fa-plus"></i> Add User</a>

        <table class="table table-bordered">
          <tr>
            <td>Image</td>
            <td>Name</td>
            <td>Email ID</td>
            <td>Contact No.</td>
            <td>Created By</td>
            <td>Action</td>
          </tr>
          <% users.forEach((user) => { %>
          <tr>
            <td><img src="<%= user.image %>" class="userImage"></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.contact %></td>
            <td><%= user.createdby.name %></td>
            <td>
              <a class="btn btn-info" href="/edituser/<%= user._id %>"><i class="fa fa-pencil"></i> Edit</a>
              <form action="/deleteuser/<%= user._id %>?_method=DELETE" method="post"><button class="btn btn-danger" ><i class="fa fa-trash-o"></i> Delete</button></form>
            </td>
          </tr>
          <% }); %>
        </table>

      </div>
    </div>
<%- include('../public/partials/footer'); %>
