<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <title>User Management App - User List</title>
  </head>
  <style>
    .userImage{
      height:80px;
      width:80px;
      border-radius: 5px;
    }
  </style>
  <body>
    <div class="container-fluid">
      <div class="column" style="height:5%;display:flow-root;">
        <ul class="nav pull-left">
          <li class="nav-item">
            <a href="#" class="nav-link">User Management App</a>
          </li>
        </ul>
        <ul class="nav pull-right">
          <li class="nav-item">
            <a href="#" class="nav-link">Login</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Register</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="container" style="min-height:90vh;">
      <div class="row">
        <a href="/adduser" class="btn btn-primary"> <i class="fa fa-plus"></i> Add User</a>

        <table class="table table-bordered">
          <tr>
            <td>Image</td>
            <td>Name</td>
            <td>Email ID</td>
            <td>Contact No.</td>
            <td>Created By</td>
            <td>Action</td>
          </tr>
          <% users.forEach((user) => { %>
          <tr>
            <td><img src="<%= user.image %>" class="userImage"></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.contact %></td>
            <td><%= user.createdby.name %></td>
            <td>
              <a class="btn btn-info" href="/edituser/<%= user._id %>"><i class="fa fa-pencil"></i> Edit</a>
              <form action="/deleteuser/<%= user._id %>?_method=DELETE" method="post"><button class="btn btn-danger" ><i class="fa fa-trash-o"></i> Delete</button></form>
            </td>
          </tr>
          <% }); %>
        </table>

      </div>
    </div>
    <footer>
      <center> &copy User Management App, <%= (new Date()).getFullYear() %></center>
    </footer>
  </body>
</html>
